* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0rem 0rem;
}

/*
* Header
*/

header {
    background: url('https://images.unsplash.com/photo-1546900703-cf06143d1239?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1982&q=80') center;
    background-size: cover;
    min-height: auto;
}

nav {
    width: 100%;
    padding: 1rem 1rem;
    background-color: rgba(255, 255, 255, 0);
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: bold;
}

.hero-section {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 16rem;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}