* {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0px;
    margin-right: 0px;
}


/*
* Header
*/

header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
    padding-left: 10px;
    padding-bottom: 10px;
    
    background-color: lime;
}

header + main {
    padding-top: 99px
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: white;
    font-weight: bold;
}


/*
* Main
*/

main {
    margin-top: 0px;
}

main h2 {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*
* Main - Title picture
*/

.title-picture {
    width: 100%;
    vertical-align: middle;
}

/*
* Main - About
*/

.about {
    display: grid;
    grid-template-columns: 70% 30%;
}

.about div {
    margin-top: auto;
    margin-bottom: auto;
}

.about img {
    float: right;
    width: 90%;
}

.about ol {
    list-style-type: none;
}



/*
* Footer
*/

footer {
    text-align: center;
}